@import '../../index.scss';

.listHead {
    width: 100%;
    margin: 0;
    @include fontStyle();
    font-weight: bold;
    background-color: $accentColor;
    padding: 0.7em;
    border-radius: 8px 8px 0 0;
}

.listItem {
    background-color: white !important;
    width: 100%;
    margin: 0;
    font-size: 15px;
    @include fontStyle();
    background-color: $bgColor;
    padding: 0.7em;
    border: 1.5px solid $accentColor;
    border-top: 0;
}

.listItem:hover {
    background-color: #FBFBFB !important;
}

.listDropdown button #dropdown-item-button {
    height: 2.2em;
    background-color: $accentColor;
    border-color: $accentColor;
    @include fontStyle();
}

.listDropdown button #dropdown-item-button:hover {
    height: 2.2em;
    background-color: $accentColor;
    border-color: $accentColor;
    @include fontStyle();
}

.btn-primary.dropdown-toggle {
    height: 2.2em;
    background-color: $accentColor !important;
    border-color: $accentColor !important;
    @include fontStyle();
}
    
.dropdownException button {
    background-color: white !important;
}

.listFooter {
    background-color: $accentColor;
    width: 100%;
    margin: 0;
    height: 5px;
    border-radius: 0 0 8px 8px;
}

.pathSeparator {
    border-left: 2px solid;
    margin-bottom: 5px;
    padding-left: 6px;
    border-color: #ECEFF1;
}

.searchInput {
    display: inline-block !important;
    width: 50% !important;
    margin-top: .4em;
    margin-bottom: .4em;
}